// Màu cho giao diện tổng thể

// Header / Navbar
$color-header-bg: #FFFFFF;
$color-brg-header-alt: #F0F0F0;

// Nút chính (Call to Action)
$color-button: #D4B17D;
$color-button-alt: #A67C52;

// Nút phụ, đường viền
$color-border: #C0C0C0;
$color-border-alt: #b0b0b0;

// Background trang
$color-brg: #FAF8F3;

// Text chính
$color-text: #333333;
$color-text-alt: #4D4D4D;

// front-size
$paragraphs: 17px;
$h1: 32px;
