@import "src/assets/scss/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  background: $color-brg-header-alt;
  color: $color-text;
  align-items: center;

  .logo {
    .header-link {
      color: $color-text;
      text-decoration: none;
      font-size: 25px;
      font-weight: 700;
    }
  }

  .header-between-options {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;

    .header-link {
      margin: 0 1rem;
      color: $color-text-alt;
      font-size: $paragraphs;
      text-decoration: none;
      font-weight: 700;
      padding: 0.5rem 1rem;
      border: none;
      background: none;
      box-shadow: none;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }

    .header-link:hover {
      color: $color-text;
    }
  }

  .header-right-options {
    display: flex;
    align-items: center;
    gap: 2rem;

    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 37px;
      height: 37px;
      border-radius: 50%;
      border: 2px solid $color-border-alt;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      position: relative;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        color: $color-text-alt;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        border-color: $color-text-alt;
        transform: scale(1.05);
        
        svg {
          color: $color-text;
        }
      }
    }
    .header-language {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      overflow: hidden;
    }
  }
}
