@import "src/assets/scss/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  background: $color-brg-header-alt;
  color: $color-text;
  align-items: center;

  .logo {
    .header-link {
      color: $color-text;
      text-decoration: none;
      font-size: 25px;
      font-weight: 700;
    }
  }

  .header-between-options {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;

    .header-link {
      margin: 0 1rem;
      color: $color-text-alt;
      font-size: $paragraphs;
      text-decoration: none;
      font-weight: 700;
      padding: 0.5rem 1rem;
      border: none;
      background: none;
      box-shadow: none;
      transition: all 0.2s ease-in-out;
    }

    .header-link:hover {
      color: $color-text;
    }
  }

  .header-right-options {
    display: flex;
    align-items: center;
    gap: 2rem;

    .header-link {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin: 0 1rem;
      font-weight: 700;
      color: $color-text-alt;
      text-decoration: none;
      padding: 0.5rem 1rem;
    }
    .header-link:hover {
      box-shadow: 5px 5px 10px $color-text-alt;
      transform: scale(1.02);
      border-color: $color-border-alt;
      border-radius: 4px;
    }

    .header-language {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      overflow: hidden;
    }
  }
}
