* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  min-height: 100vh;
  background-image: url("../../assets/img/background.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: 300px auto;
  scrollbar-width: none;
  background-color: #ffffff;

  .home-page-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 20px;

    h1 {
      font-size: 32px;
      font-weight: 600;
      color: #333;
      margin-bottom: 16px;
    }

    p {
      font-size: 18px;
      color: #666;
      line-height: 1.5;
      max-width: 600px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
