@import "src/assets/scss/variables.scss";

.profile-summary {
  text-align: center;

  .avatar-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50%;
    overflow: visible;
    border: 2px solid #ffffff;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    .camera-icon {
      position: absolute;
      right: 3px;
      bottom: 4px;
      border-radius: 50%;
      padding: 6px;
      transform: translate(25%, 25%);
      z-index: 2;
      
      svg {
        width: 24px;
        height: 24px;
        fill: #ffffff;
        background: $color-border-alt;
        border-radius: 50%;
      }
    }
  }

  .user-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 20px;
  }

  .user-role {
    color: $color-text;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .user-info {
    text-align: left;
    
    .info-item {
      margin-bottom: 15px;
      display: flex;
      gap: 10px;
      
      .label {
        color: $color-text;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 4px;
      }
      
      .value {
        font-size: 14px;
        color: $color-text-alt;

        &.empty {
          color: $color-text-alt;
        }
      }
    }
  }

  .action-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;

    button {
      flex: 1;
      padding: 8px;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.2s;

      &.primary {
        background-color: $color-button;
        color: white;

        &:hover {
          background-color: $color-button-alt;
        }
      }

      &.secondary {
        background-color: #E5E7EB;
        color: #374151;

        &:hover {
          background-color: #D1D5DB;
        }
      }
    }
  }
}
